.title-gradient {
    background: rgb(63, 94, 251);
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-me-gradient {
    background: rgb(180, 58, 163);
    background: linear-gradient(90deg, rgba(180, 58, 163, 1) 0%, rgba(77, 29, 253, 1) 50%, rgba(69, 199, 252, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my-photo {
    width: 250px;
    border-radius: .5rem;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}